<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TemplateImporter" verbose="1" parallel="false">
    <test name="TemplateImporterTests" preserve-order="true">
        <classes>
            <class name="org.jahia.modules.templateimporter.tests.projectmanagement.tests.ImportTest"/>
            <class name="org.jahia.modules.templateimporter.tests.projectmanagement.tests.DeleteProjectTest"/>
            <class name="org.jahia.modules.templateimporter.tests.projectmanagement.tests.EditProjectTest"/>
            <class name="org.jahia.modules.templateimporter.tests.selection.tests.AreaSelectionTest"/>
            <class name="org.jahia.modules.templateimporter.tests.selection.tests.SelectionRemovalTest"/>
            <class name="org.jahia.modules.templateimporter.tests.selection.tests.TemplateManipulationTest"/>
            <class name="org.jahia.modules.templateimporter.tests.modulegeneration.tests.GenerateModuleTest"/>
            <class name="org.jahia.modules.templateimporter.tests.assetmanagement.tests.ManageAssetsTest"/>
            <class name="org.jahia.modules.templateimporter.tests.documentvalidation.tests.ValidateDocumentTest"/>
        </classes>
    </test>
</suite>